<!DOCTYPE html>

<html lang="en" xml:lang="en">

<head>

    <title>Erwan Serandour</title>


</head>

<body>
    <header>
        <!-- <img id="id-picture" itemprop="image" src="./Clément Pit-Claudel_files/me.jpg" alt="picture" width="100" height="119"> -->

        <h1><span class="nobreak" itemprop="givenName">Erwan</span> <span class="nobreak"
                itemprop="familyName">Serandour</span></h1>


        <nav>
            <a href="https://github.com/thurgarion2">github</a> •
            <a itemprop="email" href="mailto:e.serandour@hispeed.ch">email</a> •
            <a href="">cv</a>
        </nav>
    </header>

    <main>
        <div class="hat">
            <p>I'm an assistant professor at <a href="https://www.epfl.ch/schools/ic/">EPFL</a>. Previously, I was a PhD
                candidate at MIT with <a href="http://adam.chlipala.net/">Adam Chlipala</a> and then a senior applied
                scientist at <a
                    href="https://www.amazon.science/latest-news/how-awss-automated-reasoning-group-helps-make-aws-and-other-amazon-products-more-secure">Amazon
                    AWS</a>. My research focuses on programming languages, compilers, and formal verification; my
                broader interests include systems engineering, hardware design languages, security, performance
                engineering, databases, and type theory.</p>
        </div>
       
       
       
    </main>



</body>

</html>