<!DOCTYPE html>

<html lang="en" xml:lang="en">

<head>
    <title>Erwan Serandour</title>
</head>

<body>
    <header>
        <!-- <img id="id-picture" itemprop="image" src="./Clément Pit-Claudel_files/me.jpg" alt="picture" width="100" height="119"> -->

        <h1><span class="nobreak" itemprop="givenName">{{page.name}}</span> <span class="nobreak"
                itemprop="familyName">{{page.familyName}}</span></h1>


        <nav>
            <a href="https://github.com/thurgarion2">github</a> •
            <a itemprop="email" href="mailto:e.serandour@hispeed.ch">email</a> •
            <a href="">cv</a>
        </nav>
    </header>

    <main>
       {{ content }}
       
       
       
    </main>



</body>

</html>