<!DOCTYPE html>

<html lang="en" xml:lang="en">

<head>
    <title>resume erwan serandour</title>
    <link rel="stylesheet" href="./assets/cv_style.css">

    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link rel="preload" as="style"
        href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,600;0,900;1,300;1,600;1,900&amp;display=swap" />
    <link rel="stylesheet"
        href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,300;0,600;0,900;1,300;1,600;1,900&amp;display=swap"
        media="print" onload="this.media='all'" />
</head>

<body>
    <header>
        <div class="stack:default header">

            <div class="with-sidebar:photo">
                <img class="portrait" src="./assets/portrait-picture.jpg"/>

                <div class="cluster:space-between">
                    <h1 class="title">ERWAN SERANDOUR</h1>
    
                    <div class="stack:small info">
                        <div>(+41) 78 401 12 85</div>
                        <div> <a itemprop="email" href="mailto:e.serandour@hispeed.ch">e.serandour@hispeed.ch</a> </div>
                    </div>
                </div>
            </div>
        

            <p class="box:section:content">
                Always curious about what defines good code and how to create better application. 
                This led me to exploring several different programming languages and understanding 
                how to  to build them myself.
            </p>
        </div>
    </header>

    <main>
        <div class="stack:default">

            <div class="stack:default">
                <div class="section:title">EDUCATION</div>

                <div class="stack:default box:section:content">
                    <div class="stack:medium-small">

                        <div class="stack:small">
                            <div class="cluster:space-between">
                                <div class="section:subtitle">Msc. IN COMMUNICATION SYSTEMS | <em>GPA 5.72 </em> </div>
                                <div>2021 - 24</div>
                            </div>

                            <div class="cluster:space-between">
                                <div> <em>EPFL (Ecole polytechnique fedérale de Lausanne) </em></div>
                                <div>Lausanne, Switzerland</div>
                            </div>
                        </div>

                        <ul>
                            <li>
                                Msc specializing in computer science. Coursework included : Database systems, Advanced
                                Compiler
                                Construction, Machine Learning.
                            </li>
                        </ul>

                    </div>

                    <div class="stack:medium-small">

                        <div class="stack:small">
                            <div class="cluster:space-between">
                                <div class="section:subtitle">Bsc . IN COMMUNICATION SYSTEMS | GPA : <em> 5.65 </em>
                                </div>
                                <div>2018 - 21</div>
                            </div>

                            <div class="cluster:space-between">
                                <div> <em>EPFL (Ecole polytechnique fedérale de Lausanne)</em> </div>
                                <div>Lausanne, Switzerland</div>
                            </div>
                        </div>

                        <ul>
                            <li>
                                Coursework included : Java, Object Oriented Programming, C, Introduction to database
                                systems.
                            </li>
                        </ul>

                    </div>

                </div>

            </div>

            <div class="stack:default">
                <div class="section:title">WORK EXPERIENCE</div>
                <div class="stack:default box:section:content">
                    <div class="stack:medium-small">

                        <div class="stack:small">
                            <div class="cluster:space-between">
                                <div class="section:subtitle">Java Software Engineer Intern</div>
                                <div>Aug. 2023 - Jan. 2024</div>
                            </div>

                            <div class="cluster:space-between">
                                <div> <em>SonarSource</em> </div>
                            </div>
                        </div>


                        <p>
                            JVM team member, participated in team sprint, helped answer
                            support questions and update the CI pipeline. Implemented about
                            10 new static analysis rules for Java, Kotlin and Spring Boot,
                            now available in SonarQube 10.4.
                            SonarQube is a leading tool for assessing code quality.
                        </p>
                    </div>

                    <div class="stack:medium-small">

                        <div class="stack:small">
                            <div class="cluster:space-between">
                                <div class="section:subtitle">Student Assistant</div>
                            </div>

                            <div class="cluster:space-between">
                                <div> <em>EPFL, Switzerland</em> </div>
                            </div>
                        </div>

                        <div class="stack:small">
                            <p>
                                For the following classes:
                            </p>

                            <ul>
                                <li>Introduction to database systems</li>
                                <li>Applied data analysis</li>
                                <li>Advanced compiler construction</li>
                            </ul>

                            <p>
                                Responsibilities included: helping groups of about 25 students solve exercises and
                                the course project and correcting course assignments.
                                Average number of hours worked per week was about 4 hours. </br>
                            </p>
                        </div>

                    </div>
                </div>

            </div>

            <div class="stack:default">
                <div class="section:title">PROJECTS</div>

                <div class="stack:default box:section:content">
                    <div class="stack:medium-small">

                        <div class="stack:small">
                            <div class="cluster:space-between">
                                <div class="section:subtitle">PrintWizard - Immediate tracing for smoother debugging and
                                    code exploration</div>
                                <div>Spring 2024</div>
                            </div>

                            <div class="cluster:space-between">
                                <div> <em>Master thesis done at SYSTEMF, EPFL.</em> </div>
                            </div>
                        </div>

                        <div class="stack:small">
                            <p>
                                Designed PrintWizard, a history debugger.
                                PrintWizard records the complete history of a Java program and
                                then lets you interactively explore what happened. It helps
                                you debug problems that are difficult to solve with a standard
                                debugger.
                            </p>

                            <p>
                                The project consists of two parts. A Java backend, a plugin for the Java compiler that
                                modifies
                                the program at compile time. Then, when executed, the program records its complete
                                history in
                                an event log. And a graphical user interface implemented in Javascript and HTML
                                that allows interactive exploration of the program's history.
                            </p>
                        </div>
                    </div>

                    <div class="stack:default">
                        <div class="stack:medium-small">
                            <div class="cluster:space-between">
                                <div class="section:subtitle">Query optimization for hybrid query execution</div>
                                <div>Fall 2022</div>
                            </div>
                            <div class="cluster:space-between">
                                <div> <em>Semester project done at DIAS, EPFL.</em> </div>
                            </div>

                            <p>
                                Designed support for plans executed simultaneously on the GPU and CPU in the query
                                planner
                                of Proteus, a database engine
                                developed at EPFL. The result was a 10% average query execution speed up.
                                The work involved designing a new efficent algorithm to prallelize plan
                                between the CPU and GPU and modifying the query planner implemented in Java.
                            </p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="stack:default">
                <div class="section:title">SKILLS</div>

                <div class="stack:small">
                    <div><strong>Proficient:</strong> Java, Python, Scala </div>
                    <div><strong>Familiar:</strong> Javascript, HTML/CSS, SQL, Git</div>
                </div>
            </div>
        </div>
    </main>
</body>

</html>